@import '../../assets/styles/colors.scss';

.card {
  width: max-content;
  margin: auto;
  max-width: 400px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15px;
}

.card__input {
  width: 90%;
  margin: 10px;
}

.card__button {
  margin: 10px;
}

.card__message {
  font-size: 12px;
}

.card__message--error {
  color: $errorColor;
}

.card__submenu {
  display: block;
  margin: 20px 10px 10px;
}
